{% extends "base.html" %}

{% block content %}

<STYLE type="text/base.css"></STYLE>
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class=" col-md-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1 class=" site-heading my-4 mt-3 text-white"> Django Reddit Clone </h1>
          <h3 class="text-light">by Brodar Vedran </h3>
            
            {% if user.is_authenticated %}
                <div style="color:teal;"<br> Logged in as {{ user.username }}! </br></div>
              <p><a href="{% url 'logout' %}">Logout</a></p>
            {% else %}
              <p style="color:red;">You are not logged in</p>
              <a href="{% url 'login' %}">Login</a>
              <br><a href = "{% url 'signup' %}"> Register</a></br>
            {% endif %}
          
          
        </div>
      </div>
    </div>
  </div>
  </div>
</header>


<div class="container">
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8 mt-3 left">
      {% for post in post_list %}
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}}  </p>

          <p class="card-text">{{post.content|slice:":200" }}</p>
          <a href="{% url 'post_detail' post.slug  %}" class="btn btn-danger">Read More &rarr;</class="btn></a>
        </div>

      </div>
      {% endfor %}

    </div>
    
  </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation conatiner"></nav>
<ul class="pagination justify-content-center">
  {% if page_obj.has_previous %}
  <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
  {% endif %}
  {% if page_obj.has_next %}
  <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

  {% endif %}


</ul>
</nav>
</div>
{% endif %}
{%endblock%}